body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b0b0b;
    font-family: 'Arial Black', sans-serif;
    overflow: hidden;
}

/* Positioning the canvas behind the text */
#starCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.container {
    text-align: center;
    pointer-events: none; /* Allows clicks to pass through to background if needed */
}

.year {
    font-size: 8rem;
    color: #808080;
    margin: 0;
    animation: float 3s ease-in-out infinite;
    text-shadow: 0 0 15px rgba(4, 230, 255, 0.2);
}

.message {
    font-size: 4rem;
    margin-top: -10px;
    letter-spacing: 5px;
    animation: colorShift 4s linear infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes colorShift {
    0% { color: #00f7ff; text-shadow: 0 0 20px #00fff2; }
    33% { color: #eca3d7; text-shadow: 0 0 20px #eca3d7; }
    66% { color: #9e66e9; text-shadow: 0 0 20px  #9e66e9; }
    100% { color: #ebef63; text-shadow: 0 0 20px #ebef63;; }
}